*{
  padding: 0; margin: 0; box-sizing: border-box;
}

.App{
  background-color:rgba(146, 136, 188, 0.74);
  height: 100vh;
  overflow-y: auto;
}

.navigation{
  background-color: rgb(37, 11, 59);
}
ul{
  padding: 2rem;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
li a{
  text-decoration: none;
  font-size: 2rem;
  color: white;
}

.carddd{
  display: flex;
  justify-content: center;
}
.cards{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 60%;
}
.card{
  width: 42vh;
  background-color:rgb(11, 5, 48);
  margin: 0.5vw;
  gap: 1vw;
}
.card img{
  width: 42vh;
}

.ip{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vw;
}
.ip div{
  display: flex;
  flex-direction: column;
}

.spinner {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: conic-gradient(#0000 10%,#000000);
  -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 9px),#000 0);
  animation: spinner-zp9dbg 1s infinite linear;
}